[submodule "client"]
	path = client
	url = https://github.com/gaia-adm/gaia-account-management-client.git
[submodule "db"]
	path = db
	url = https://github.com/gaia-adm/gaia-account-management-db.git
[submodule "server"]
	path = server
	url = https://github.com/gaia-adm/gaia-account-management-server.git
