[submodule "gaia-account-management-client"]
	path = gaia-account-management-client
	url = https://github.com/gaia-adm/gaia-account-management-client.git
[submodule "gaia-account-management-db"]
	path = gaia-account-management-db
	url = https://github.com/gaia-adm/gaia-account-management-db.git
[submodule "gaia-account-management-server"]
	path = gaia-account-management-server
	url = https://github.com/gaia-adm/gaia-account-management-server.git
